<% mention = notification.source %>

<strong class="notificaton__mention">
  <%= "#{mention.mentioner.first_name} mentioned you:" %>
</strong>
<p class="notification__details">
  <%= mention.source.mentionable_content.truncate(250) %>
</p>
