<h1 class="title">Download your Buzzy data</h1>
<p class="subtitle">Your Buzzy data export has finished processing and is ready to download.</p>

<p><%= link_to "Download your data", export_download_url(@export) %></p>

<p class="footer">Need help? <%= mail_to "support@example.com", "Send us an email" %>.</p>
