<h1 class="title">Your export is ready</h1>
<p class="subtitle">Your Fizzy data export has finished processing and is ready to download.</p>

<p><%= link_to "Download your export", account_export_url(@export) %></p>

<p class="footer">Need help? <%= mail_to "support@fizzy.do", "Send us an email" %>.</p>
