<div class="card__title overflow-ellipsis">
  <%= t("notifications.generic_title", default: "Notification") %>
</div>
<div class="card__notification-body overflow-ellipsis">
  <%= t("notifications.generic_body", default: "Notification") %>
</div>
