<% unless event_summary.body.blank? %>
  <div class="comment comment__event flex full-width">
    <div class="comment__content txt-tight-lines full-width" data-controller="event-summary">
      <%= event_summary.body %>
    </div>
  </div>
<% end %>
