<section class="events__day" data-controller="related-element" data-related-element-highlight-class="event--related">
  <%= render "events/day_timeline/columns", day_timeline: day_timeline %>
  <%= render "events/empty_days", day_timeline: day_timeline %>
</section>
