<% event = notification.source %>

<div class="card__title overflow-ellipsis">
  <%= event_notification_title(event) %>
</div>

<div class="card__notification-body overflow-ellipsis">
  <%= event_notification_body(event) %>
</div>
