@layer components {
  .settings {
    --settings-spacer: var(--block-space);

    display: grid;
    gap: calc(var(--settings-spacer) * 2);
    margin: var(--block-space) auto 0;
    max-inline-size: min(100ch, 100%);

    @media (min-width: 960px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .settings__panel {
    --panel-size: 100%;
    --panel-padding: calc(var(--settings-spacer) / 1);

    display: flex;
    flex-direction: column;
    gap: var(--settings-spacer);

    @media (min-width: 960px) {
      --panel-padding: calc(var(--settings-spacer) * 2);
    }
  }

  .settings__panel--users {
    max-height: 80dvh;

    @media (min-width: 960px) {
      max-height: calc(100dvh - 12rem);
    }
  }

  /* Users
  /* ------------------------------------------------------------------------ */

  .settings__user-filter {
    --btn-size: 3.5ch;
    --avatar-size: var(--btn-size);

    display: flex;
    flex-direction: column;
    gap: var(--settings-spacer);
    min-height: 0;
  }

  .settings__user-filter--bg {
    background-color: var(--color-ink-lightest);
    border-radius: 0.5em;
    padding: var(--settings-spacer);
  }

  .settings__user-list {
    flex: 1 1 auto;
    inline-size: 100%;
    list-style: none;
    margin: calc(var(--settings-spacer) / -4) 0;
    padding: 0;
    overflow: auto;

    a {
      padding-block: calc(var(--settings-spacer) / 4);

      @media(any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
