.terminal {
  --row-gap: 0.2lh;

  background-color: var(--color-ink);
  color: var(--color-positive);
  font-family: var(--font-mono);
  font-size: var(--text-);
  inset: auto 0 0 0;
  overflow: hidden;
  padding: 0.4lh calc(34ch + var(--inline-space-double)) 0.4lh;
  position: fixed;
  text-align: center;
  transition: block-size 0.2s ease-in-out;
  z-index: 1;

  .terminal__input {
    --input-border-color: transparent;
    --input-border-radius: 0.3em;
    --hover-color: transparent;
    --input-color: var(--color-positive);
    --outline-size: 0;
    --outline-color: transparent;
  
    accent-color: var(--color-positive);
    caret-color: var(--color-positive);
    font-family: inherit;
  }
}

.terminal__button {
  position: absolute;
  inset: 0.5em 34ch auto auto;
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out;
  z-index: 2;

  .terminal--open & {
    transform: rotate(90deg);
  }
}

.terminal__link {
  --hover-size: 0;

  color: inherit;
  text-decoration: underline;
}

.terminal__menu {
  display: none;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .terminal--open & {
    display: flex;
  }
}
